// типографика и токены подключены через global.scss, лишний @use удалён

.container {
    display: flex;
    min-height: 100vh;
}

.leftContainer {
    width: 50%;
    background: url("../../assets/auth.png") no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 3%;
    border-radius: 24px;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

.rightContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: white;
    border-radius: 2rem;
}

.wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.segments {
    border-radius: 24px;
    height: 48px;
    display: flex;
    width: 100%;
    background-color: $bgColorGrey;
    margin-bottom: 80px;

    & :global(.ant-segmented-item) {
        height: 100%;
        border-radius: 23px;
        box-shadow: 0px 1px 4px 0px #0000000a;
        flex-grow: 1;

        & :global(.ant-segmented-item-label) {
            @include body1medium;
            padding: 10px 20px;

            &[aria-selected="false"] {
                color: $textColorGrey;
            }
        }
    }
}

// Алиас для совместимости с разметкой
.authSegmented {
    @extend .segments;
}

.checkbox {
    font-size: 0.9rem;
    color: gray;
}

.title {
    @include title2semibold;
    color: $textColorPrimary;
    margin-bottom: 40px;
}

.titleConfirm {
    @include title2medium;
    color: $textColorPrimary;
    align-self: flex-start;
}

.labelText {
    @include body1regular;
    color: $textColorPrimary;
    align-self: flex-start;
    margin-bottom: 16px;
}

.form {
    width: 100%;
}

.formValidation {
    @extend .form;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.input {
    height: 56px;
    margin-bottom: 24px;
}

.otpInput {
    & :global(input.ant-input) {
        width: 48px;
        height: 48px;
        border: 1.5px solid $textColorSecondary;
        border-radius: 8px;
    }
}

.agreement {
    @include body0;
    color: $textColorSecondary;

    & :global(.ant-checkbox-inner) {
        border-radius: 8px;
    }
}

.confirmButton {
    border-radius: 120px;
}

.resendCodeWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.resendCode {
    text-decoration: underline;
}

.googleWrapper {
    margin-bottom: 20px;
    text-align: center;
}

.googleButton {
    width: 100%;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}
