{% extends "base.html" %}
{% load account allauth i18n %}
{% block head_title %}
    {% translate "Email Address" %}
{% endblock head_title %}

{% block content %}
    <h1 class="mb-8 text-3xl font-bold text-center text-blue-400">{% translate "Email Addresses" %}</h1>
    <div class="p-8 mx-auto max-w-md bg-gray-800 rounded-xl border border-gray-700 shadow-lg">
        <form method="post" action="" class="space-y-8">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="flex flex-col gap-1 mb-6">
                    <label for="{{ field.id_for_label }}" class="font-medium text-gray-300">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}<p class="text-xs text-gray-400">{{ field.help_text }}</p>{% endif %}
                    {% for error in field.errors %}<p class="text-xs text-red-400">{{ error }}</p>{% endfor %}
                </div>
            {% endfor %}
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            <div class="mt-10">
                <button type="submit"
                        class="py-2 px-4 w-full font-semibold text-white bg-blue-500 rounded-lg transition hover:bg-blue-600 focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:outline-none">
                    {% translate "Save" %}
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
