{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% translate "Sign Out" %}
{% endblock head_title %}

{% block content %}
    <div class="p-8 mx-auto mt-12 max-w-md bg-gray-800 rounded-xl border border-gray-700 shadow-lg">
        <h1 class="mb-6 text-3xl font-bold text-center text-blue-400">{% translate "Sign Out" %}</h1>
        <p class="mb-6 text-center text-gray-300">{% translate 'Are you sure you want to sign out?' %}</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit"
                    class="py-2 px-4 w-full font-semibold text-white bg-blue-500 rounded-lg transition hover:bg-blue-600 focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:outline-none">
                {% translate 'Sign Out' %}
            </button>
        </form>
    </div>
{% endblock content %}
