Django==5.1.7
psycopg2-binary==2.9.9
psycopg-pool==3.2.6
strawberry-graphql==0.109.0
strawberry-graphql-django==0.7.0
sentry-sdk
environs[django]
falco-app
django-tasks
django-health-check
django-cors-headers
django-extensions
django-allauth[socialaccount]
django-anymail[amazon-ses]
django-storages[s3]
django-unique-user-email
django-lifecycle
django-litestream
django-debug-toolbar
django-browser-reload
diskcache
granian
httpx>=0.28.1
requests>=2.32.3
pandas>=2.2.3
pillow
beautifulsoup4>=4.13.3
lxml>=5.3.1
openpyxl>=3.1.5
scrapy>=2.12
rapidfuzz>=3.12.2
whitenoise[brotli]
crispy-tailwind>=1.0.3
filelock
boto3
